project:
  type: website
  output-dir: _site
  render: 
    - "*.qmd"
    - "!assignments/r_labs/*.qmd"
    - "!assignments/ego_networks/*.qmd"

 
resources:
    - "assignments/r_labs/*.qmd"
    - "assignments/ego_networks/*.qmd"

pre-render:
  - python scripts/create_assignment_files.py

#post-render:
#  - mkdir _site/assignments/r_labs/pdfs
#  - mv _site/assignments/r_labs/*.pdf _site/assignments/r_labs/pdfs

preview:
  port: 4200

execute:
  freeze: auto

website:
  title: "Communication and Social Networks"
  navbar:
    right:
      - href: syllabus/syllabus.qmd
        text: Syllabus
      - href: schedule.qmd
        text: Schedule
      - href: assignments/assignments.qmd
        text: Assignments

  sidebar:
    - title: "Schedule"
      style: "docked"
      search: false
      background: dark
      contents:
        - section: "Overview"
          contents:
            - schedule.qmd
        - section: "Course content"
          contents: "schedule/*.qmd"

    - title: "Assignments"
      style: "docked"
      search: false
      background: dark
      contents:
        - section: "Assignments"
          contents: 
            - text: "Overview"
              href: assignments/assignments.qmd
            - assignments/Homework-1.qmd
            - assignments/ego_networks_activity.qmd
            - assignments/Final-project.qmd
        - section: "R Labs"
          contents: 
            - assignments/r_lab_1_-_installation.qmd
            - assignments/r_lab_2_–_creating_networks.qmd
            - assignments/r_lab_3_–_mutating_and_filtering.qmd
            - assignments/r_lab_4_–_intro_to_ggraph.qmd
            - assignments/r_lab_5_–_aesthetics_in_ggraph.qmd
            - assignments/r_lab_6_–_visualizing_power.qmd
            - assignments/r_lab_7_–_groups_in_networks.qmd
            - assignments/r_lab_8_–_network_stats.qmd
  repo-url: "https://github.com/jdfoote/Communication-and-Social-Networks"
  repo-actions: ["edit", "issue"]

            


format:
  html:
    theme: yeti
    css: resources/custom_css.css
    toc: true
