/* Changes to RevealJS default formatting.

I prefer this style but you can change these to your preferences */

/* This bit lets you do columns */
.container{
  display: flex;
}

.col{
  flex: 1;
}

.reveal section img{
border: none;
background: none;
box-shadow: none;
}

.highlight {
color: LightCoral;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
text-transform: none;
}


/* .reveal h1 {
margin-top:200px;
} */


div.footnote {
font-size: 40%;
text-align: right;
}

.bg-image{
width: 180px;
}

.date-block{
  background-color: darkcyan;

}

.slide-deck{
  width: 800px;
  height: 600px;
}

.small{
  font-size: 80%;
}

/*
.reveal img{
  max-width: 85vw;
  max-height: 85vh;
}
*/

/*.reveal .slides section .fragment.fade-in-then-out,
/*.reveal .slides section .fragment.current-visible {
/*  opacity: 0;
/*  visibility: hidden; }
/*  .reveal .slides section .fragment.fade-in-then-out.current-fragment,
/*  .reveal .slides section .fragment.current-visible.current-fragment {
/*    opacity: 1;
/*    visibility: inherit; }
/*
/*.reveal .slides section .fragment.fade-in-then-semi-out {
/*  opacity: 0;
/*  visibility: hidden; }
/*  .reveal .slides section .fragment.fade-in-then-semi-out.visible {
/*    opacity: 0.5;
/*    visibility: inherit; }
/*  .reveal .slides section .fragment.fade-in-then-semi-out.current-fragment {
/*    opacity: 1;
/*visibility: inherit; }
